body {
  @apply text-gray-600;
  @apply bg-gray-100;
}

a {
  @apply text-gray-900 underline;
  @apply transition-text duration-text ease-out;

  &:hover {
    @apply text-primary-700;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
