body {
  @apply text-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold uppercase tracking-wider;
}

h1 {
  @apply text-h1;
}

a {
  @apply underline;
  @apply transition-text duration-text ease-out;

  &:hover {
    @apply text-primary-700;
  }
}
